body{
	background: none;
	color: #837f73;
	font-family: "Helvetica", Arial;
	font-size: 16px;
}

header #nav_cabecera{
	padding: 0.5em 4em 0 0;
}

header #nav_cabecera ul{
	list-style: none;
	text-align: right;
	margin: 0;
}

header #nav_cabecera ul li{
	display: inline-block;
	vertical-align: top;
}

header #nav_cabecera ul li a{
	color: #553a1d;
	display: block;
	text-decoration: none;
	padding: 0.5em 0.5em;
}

header #nav_cabecera ul li a:hover{
	font-weight: bold;
}

#menu{
	position: relative;
 	padding: 2.5em 0 4em 0;
	margin: 0 0 1em 0; 
}

#menu #logo{
	position: absolute;
	top: -40px;
	margin: 0.5em 3em 0 3em;
}

#menu #logo img{
	width: 120px;
}

#menu #logo, #menu #nav_menu, #menu #nav_menu ul li {
	display: inline-block;
	vertical-align: top;
}	

#menu #nav_menu{
	margin: 0 0 0 17em;
}

#menu #nav_menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu #nav_menu ul li a{
	color: #553a1d;
	display: block;
	text-decoration: none;
	padding: 0.5em 1.5em 0.5em 1.5em;
}

#menu #nav_menu ul li a:hover{
	font-weight: bold;
}

#menu #network_social{
	bottom: 0;
	position: absolute;
	right: 60px;
}

#menu #network_social figure{
	display: inline-block;
	vertical-align: top;
}

#menu #network_social figure img{
	max-width: 30px;
	max-height: :30px;
	width: 100%;
	height: 100%;
}

#pie{
	color: #553a1d;
	text-align: center;
	padding: 4em 0 1em 0;
}

#wrapper{
	background: #EFD6AD;
	border-radius: 2.5px;
	margin: 0 auto;
	width: 76%;
}

.contenido {
	margin: 0 0 3em 0; 
	padding: 2em 1.5em 1em 1.5em;
	text-align: center;
}

.contenido form , .contenido .contenido_item_datos{
	display: inline-block;
	max-width: 380px;
	text-align: left;
	margin: 0 0 0 10%;
	vertical-align: top;
	width: 100%;
}

.contenido .contenido_item h1{
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.contenido .contenido_item_datos{
	background: #8a8272;
	color: white;
	padding: 0 0 2em 0; 
}

.contenido .contenido_item_datos h2{
	color: #eba75e;
	margin: 1em auto 0 auto;
	width: 80%;
}

.contenido .contenido_item_datos p{
	margin: 0 auto;
	padding: 0;
	width: 80%;
}

.contenido .contenido_item h1{
	color: #553a1d;
}

.contenido .contenido_item p label{
	display: block;
	text-align: left;
	width: 80px;
}

.contenido .contenido_item p input{
	display: block;
	width: 289px;
}

.contenido .contenido_item p input, .contenido .contenido_item p label{
	display: inline-block;
	vertical-align: top;
}

.contenido .contenido_item #button{
	text-align: center;
}

.contenido .contenido_item #button input{
	width: 100px;
}