body{
	background: none;
	color: #837f73;
	font-family: "Helvetica", Arial;
	font-size: 16px;
}

h1 , p{
	margin: 0;
	padding: 0;
}

header #nav_cabecera{
	padding: 2.5em 4em 0 0;
}

header #nav_cabecera ul{
	list-style: none;
	text-align: right;
	margin: 0;
}

header #nav_cabecera ul li{
	display: inline-block;
	vertical-align: top;
}

header #nav_cabecera ul li a{
	color: #553a1d;
	display: block;
	text-decoration: none;
	padding: 0.5em 0.5em;
}

header #nav_cabecera ul li a:hover{
	color: red;
}

#menu{
	position: relative;
 	padding: 4.5em 0 6em 0;
	margin: 0 0 2em 0; 
}

#menu #logo{
	position: absolute;
	top: -60px;
	margin: 0.5em 3em 0 3em;
}

#menu #logo img{
	width: 178px;
}

#menu #logo, #menu #nav_menu, #menu #nav_menu ul li {
	display: inline-block;
	vertical-align: top;
}	

#menu #nav_menu{
	margin: 0 0 0 17em;
}

#menu #nav_menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu #nav_menu ul li a{
	color: #553a1d;
	display: block;
	text-decoration: none;
	padding: 0.5em 1.5em 0.5em 1.5em;
}

#menu #nav_menu ul li a:hover{
	font-weight: bold;
}

#menu #network_social{
	position: absolute;
	bottom: 0;
	right: 60px;
}

#menu #network_social figure{
	display: inline-block;
	vertical-align: top;
}

#menu #network_social figure img{
	max-width: 30px;
	max-height: :30px;
	width: 100%;
	height: 100%;
}

#pie{
	color: #553a1d;
	padding: 2em 0 1em 0;
	text-align: center;
}

#wrapper{
	background: #EFD6AD;
	border-radius: 2.5px;
	width: 76%;
	margin: 0 auto;
}

.contenido {
	padding: 2em 1.5em 1em 1.5em;
	text-align: center;
}

.contenido .contenido_item{
	display: inline-block;
	vertical-align: middle;

	text-align: left;
	margin: 0 1%;
	width: 44%;
}

.contenido .contenido_item h1{
	color: #553a1d;
}

.contenido .contenido_item figure img{
	height: 100%;
	max-width: 462px;
	max-height: 373px;
	width: 100%;
}