{% extends 'base.html' %}
{% block title %}Artista - Llanco{% endblock %}
{% block css %}
	<link rel="stylesheet" href="/static/css/artista.css">

	<link rel="stylesheet" href="/static/css/responsiveslides.css">
	<link rel="stylesheet" href="/static/css/demo.css">
	<style>
	@media screen and (max-width: 360px){
		header #nav_cabecera{
			padding: 0.5em 0.5em 0 0;
		}
		
		#menu{
			position: relative;
		 	padding: 2em 0 4em 0;
			margin: 0 0 1em 0; 
		}
		#menu #logo{
			position: absolute;
			top: 30px;
			margin: 0.5em 3em 0 3em;
		}

		#menu #nav_menu{
			margin: 0 0 0 13em;
		}
	}
	@media screen and (max-width: 1020px){
		#wrapper{	
			width: 100%;
		}
	}
	</style>
{% endblock %}
{% block js %}
	<script src="/static/js/responsiveslides.min.js"></script>
	<script src="/static/js/master.js"></script>
{% endblock %}
{% block idioma %}
	<li><a href='/artista/'>Español</a></li>
	<li><a href='#'>Ingles</a></li>
{% endblock %}
{% block content %}
	<div>
		<div class="callbacks_container">
	      	<ul class="rslides" id="slider4">
	      		{% for banner_list in banner %}
	      			<li>
			          <img src="{{ MEDIA_URL }}{{ banner_list.Imagen }}" alt="">
			        </li>
	      		{% endfor %}
	      	</ul>
	    </div>
	</div>
	<section class="contenido">
		{% for artista_list in artista %}
			<article class="contenido_item">
				<h1>{{ artista_list.Titulo }}</h1>
				<hr/>
				<p>
					{{ artista_list.Descripcion|safe }}
				</p>
			</article>
		{% endfor %}
	</section>
{% endblock %}