<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>
		{% block title %}Llanco{% endblock %}
	</title>
	<link rel="stylesheet" href="/static/css/normalize.css">
	{% block css %}{% endblock %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="/static/js/modernizr.custom.18371.js"></script>
	{% block js %}{% endblock %}
</head>
<body>
	<div id="wrapper">
		<header>
			<nav id="nav_cabecera">
				<ul>
					<li><a href='#'>Español</a></li>
					<li><a href='#'>Ingles</a></li>
				</ul>
			</nav>
		</header>
		<div id="menu">
			<figure id="logo">
				<img src="{{ MEDIA_URL }}app/logo.png">
			</figure>
			<nav id="nav_menu">
				<ul>
					{% for menu_list in menu %}
						<li><a href="{{ menu_list.url }}" {% if menu_list.active %} style = "font-weight: bold;" {% endif %} >{{ menu_list.name }}</a></li>	
					{% endfor %}
				</ul>
			</nav>
			<div id="network_social">
				<figure>
					<a href="https://www.facebook.com/italo.llancoalarcon?fref=ts"><img src="/static/imgs/wood-facebook.png" alt=""></a>
				</figure>
				<figure>
					<a href="https://www.youtube.com/"><img src="/static/imgs/youtube.png" alt=""></a>
				</figure>
			</div>
		</div>
		{% block content %}{% endblock %}
		<footer id="pie">
			<p><strong>Luthier Italo Llanco 2013</strong></p>
			<p>Huancayo - Perú</p>
		</footer>
	</div>
</body>
</html>