{% extends 'base.html' %}
{% block title %}Galeria - Llanco{% endblock %}
{% block css %}
	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/galeria.css">
	<link rel="stylesheet" href="/static/css/colorbox.css" />
{% endblock %}
{% block js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/static/js/jquery.colorbox.js"></script>
	<script>
		$(document).ready(function(){
			//Examples of how to assign the Colorbox event to elements
			$(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
		});
	</script>
{% endblock %}
{% block content %}
	<section class="contenido">
	{% if galeria %}
		{% for galeria_list in galeria %}
		<article class="contenido_item">
			<figure>
				<a class='iframe' href="{% url "galeria_imagen" %}">
					<img src="{{ MEDIA_URL }}{{ galeria_list.Imagen }}" alt="">
				</a>
			</figure>
			<p>{{ galeria_list.Descripcion }}</p>
		</article>
		{% endfor %}	
	{% else %}
		<h2>Imagenes en mantenimiento</h2>
	{% endif %}
		<article id="radio">
			<h1>Escucha una demo elaborado por nuestro cliente</h1>
			<figure>
				<iframe width="580" height="300" src="http://www.goear.com/embed/playlist/f1f3fc8" marginheight="0" align="top" scrolling="no" frameborder="0" hspace="0" vspace="0" allowfullscreen></iframe>
			</figure>
		</article>
	</section>
{% endblock %}