{% extends 'base.html' %}
{% block title %}Taller - Llanco{% endblock %}
{% block css %}
	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/taller.css">
	<link rel="stylesheet" href="/static/css/responsiveTaller.css">
{% endblock %}
{% block js %}
{% endblock %}
{% block idioma %}
	<li><a href='/taller/'>Español</a></li>
	<li><a href='#'>Ingles</a></li>
{% endblock %}
{% block content %}
	{% for taller_list in taller %}
		{% if forloop.counter|divisibleby:"2" %}
		<section class="contenido">
			<article class="contenido_item">
				<figure>
					<img src="{{ MEDIA_URL }}{{ taller_list.Imagen }}" alt="">
				</figure>
			</article>
			<article class="contenido_item">
				<h1>{{ taller_list.Titulo }}</h1>
				<hr/>
				<p>
					{{ taller_list.Descripcion|safe }}
				</p>
			</article>
		</section>
		{% else %}
		<section class="contenido">
			<article class="contenido_item">
				<h1>{{ taller_list.Titulo }}</h1>
				<hr/>
				<p>
					{{ taller_list.Descripcion|safe }}
				</p>
			</article>
			<article class="contenido_item">
				<figure>
					<img src="{{ MEDIA_URL }}{{ taller_list.Imagen }}" alt="">
				</figure>
			</article>
		</section>
		{% endif %}
	{% endfor %}
{% endblock %}